@model afl_dakboard.ViewModels.AflStandingViewModel

<tr>
    <td>@Model.Order</td>
    <td>
        <img src="https://squiggle.com.au/@Model.Team.Logo" height="16" width="16"/>
    </td>
    <td>@Model.Team.Name</td>
    <td>@Model.Standing.Played</td>
    <td>@Model.Standing.Wins</td>
    <td>@Model.Standing.Losses</td>
    <td>@Model.Standing.Draws</td>
    <td>@Model.Standing.Percentage.ToString("N")</td>
    <td>@Model.Standing.Pts</td>
</tr>
