@{
    ViewData["Title"] = @Model!.LastGameRound;
}
@model afl_dakboard.ViewModels.CricketViewModel

<div style="display: flex;">
    <div>
        @if (@Model.HomeTeam == "Melbourne Stars")
        {
            <img src="/img/melbourne-stars-logo.png" height="128" width="128" style="padding-top: 15px"/>
        }
        else
        {
            <img src="/img/big-bash-league-logo.png" height="128" width="128" style="padding-top: 15px"/>
        }
    </div>
    <div>
        @if (Model.LastGameDate == null)
        {
            <div style="padding-top: 15px">
                @Model.Note
            </div>
        }
        else
        {
            <table style="margin-top: 11px">
                <thead>
                <tr>
                    @if (Model.IsInProgress)
                    {
                        <th colspan="1">@Model.LastGameRound:</th>
                        <td colspan="3">
                            <text>In progress</text>
                        </td>
                    }
                    else
                    {
                        <th colspan="1">Last Game:</th>
                        <td colspan="3">
                            <text>@Model.LastGameDate</text>
                        </td>
                    }
                </tr>
                <tr>
                    <td colspan="4">@Model.Note</td>
                </tr>
                <tr>
                    <th></th>
                    <th>Wkts</th>
                    <th>Runs</th>
                    <th>Overs</th>
                </tr>
                </thead>
                <tr>
                    <td>@Model.HomeTeam</td>
                    <td>@Model.HomeTeamWickets</td>
                    <td>@Model.HomeTeamScore</td>
                    <td>@Model.HomeTeamOvers</td>
                </tr>
                <tr>
                    <td>@Model.Opposition</td>
                    <td>@Model.OppositionWickets</td>
                    <td>@Model.OppositionScore</td>
                    <td>@Model.OppositionOvers</td>
                </tr>
            </table>
        }
    </div>
</div>
<br/>
@if (@Model.NextGameDate == null)
{
    <strong>Next Game:</strong> <text>No more games until next year 😢</text>
}
else
{
    <strong>Next Game:</strong> <text>@Model.HomeTeam vs @Model.NextGameTeam</text>
    <br/>
    @if (@Model.NextGameDate == null)
    {
        <text>unknown</text>
    }
    else
    {
        @Model.NextGameDate<text> at </text>
        @Model.NextGameVenue
}
}
